:root {
  --black: #262626;
  --white: #F2F2F2;
  --dark-green: grey;
  --green: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--green);
  background: radial-gradient(80vw 350vh at 50% 300vh, var(--dark-green), 70%, transparent), linear-gradient(black, 20%, transparent, 80%, black), url(../public/stars-back.jpg);
  background-size: contain;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
:root::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: currentColor;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
a:hover {
  background-color: var(--dark-green);
}

#welcome_section {
  height: 100vh;
  padding: 5rem;
  display: grid;
  grid-template-columns: 30rem 1fr 10rem;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 5rem;
}
#welcome_section .hero_div {
  width: -moz-max-content;
  width: max-content;
}
#welcome_section .hero_div h1 {
  background-color: var(--green);
  color: var(--black);
  font-size: 4rem;
  padding: 1.5rem;
  line-height: 3rem;
  outline: 0.3rem solid var(--black);
  outline-offset: -1rem;
  transition: outline 0.3s, outline-offset 0.3s;
}
#welcome_section .hero_div h1:hover {
  outline-offset: 2rem;
  outline-color: var(--green);
}
#welcome_section .hero_div h2 {
  text-align: right;
  padding-right: 1rem;
}
#welcome_section p {
  font-size: 1.5rem;
  padding: 2rem;
  border: 1px solid var(--dark-green);
  background-color: var(--black);
  grid-row: 3/4;
  grid-column: 1/3;
  align-self: flex-end;
  text-align: center;
  z-index: 1;
}

#skills_carousel {
  grid-row: 1/4;
  grid-column: 3/4;
  background: linear-gradient(var(--green), 5%, var(--dark-green), 95%, var(--green));
  box-shadow: inset 0 0 1rem var(--black);
  position: relative;
  overflow: hidden;
}
#skills_carousel svg {
  position: absolute;
  height: 10%;
}

#carousel_container {
  display: flex;
  justify-content: center;
  height: 400vh;
  position: relative;
}

#carousel {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  transform-style: preserve-3d;
  transform: translateY(var(--top, 0vh)) perspective(1200px) rotateZ(var(--carouselZ, 0deg));
}
#carousel > .project_container {
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  height: 10rem;
  transform: translateX(-25%) translateY(-50%) rotateY(var(--cards-rotation, 0deg)) translateZ(35rem);
  transition: scale 0.2s;
}
#carousel > .project_container:after {
  content: "";
  position: absolute;
  inset: 2rem 0;
  filter: blur(3rem);
  background: var(--green);
  transform: translateZ(-0.1rem);
}
#carousel > .project_container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(5rem at 15% 70%, rgba(0, 0, 255, 0.5), transparent), radial-gradient(8rem at 70% 20%, rgba(255, 166, 0, 0.5), transparent), var(--dark-green);
  transform: translateZ(-0.05rem);
}
#carousel > .project_container img {
  width: 20rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  transition: scale 0.5s;
}
#carousel > .project_container img:hover {
  scale: 1.05;
}
#carousel .light_through {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: radial-gradient(2rem at var(--splash-light-x, 60%) var(--splash-light-y, 20%), var(--white), transparent), url(./earth.svg) var(--green);
  background-size: cover;
  transform: translateY(var(--light-transform, 0px)) rotateZ(var(--light-rotate, 0deg));
  animation: glowing 3s ease-out infinite;
}
#carousel .light_through::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(transparent, rgb(255, 255, 255));
  border-radius: 50%;
  z-index: 1;
}

#contact_form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#contact_form h1 {
  background-color: var(--green);
  color: var(--black);
  padding: 0.5rem 3rem;
}
#contact_form form {
  display: grid;
  gap: 2rem;
}
#contact_form form > * {
  font-size: 1.75rem;
  padding: 0.5rem;
  background-color: var(--black);
  color: var(--white);
  outline: none;
  border: none;
}
#contact_form form input[type=email] {
  grid-column: 2/3;
}
#contact_form form textarea {
  grid-column: 1/3;
  resize: vertical;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 3rem rgb(255, 255, 255);
  }
  10% {
    box-shadow: 0 0 2rem rgb(183, 183, 183);
  }
  20% {
    box-shadow: 0 0 1rem rgb(216, 216, 216);
  }
  30% {
    box-shadow: 0 0 2rem rgb(183, 183, 183);
  }
  40% {
    box-shadow: 0 0 3rem rgb(232, 232, 232);
  }
  50% {
    box-shadow: 0 0 2rem rgb(200, 200, 200);
  }
  60% {
    box-shadow: 0 0 3rem rgb(183, 183, 183);
  }
  70% {
    box-shadow: 0 0 2rem rgb(224, 224, 224);
  }
  80% {
    box-shadow: 0 0 1rem rgb(183, 183, 183);
  }
  90% {
    box-shadow: 0 0 2rem rgb(211, 211, 211);
  }
  100% {
    box-shadow: 0 0 3rem rgb(255, 255, 255);
  }
}/*# sourceMappingURL=index.css.map */