:root {
  --black: #262626;
  --darken-white: #F2F2F2;
  --grey: grey;
  --white: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--white);
  background: radial-gradient(80vw 350vh at 50% 300vh, var(--grey), 70%, transparent), linear-gradient(black, 30%, transparent, 70%, black), url(../public/stars-back.jpg) center var(--background-top-position, 0) fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
:root::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: currentColor;
  text-decoration: none;
}

#welcome_section {
  height: 100vh;
  padding: 5rem;
  display: grid;
  grid-template-columns: 30rem 1fr 10rem;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 5rem;
}
#welcome_section .hero_div {
  width: -moz-max-content;
  width: max-content;
}
#welcome_section .hero_div h1 {
  background-color: var(--white);
  color: var(--black);
  font-size: 4rem;
  padding: 1.5rem;
  line-height: 3rem;
  outline: 0.3rem solid var(--black);
  outline-offset: -1rem;
  transition: all 0.3s;
}
#welcome_section .hero_div h1:hover {
  background-color: var(--black);
  color: var(--white);
  outline-offset: 2rem;
  outline-color: var(--white);
}
#welcome_section .hero_div h2 {
  text-align: right;
  padding-right: 1rem;
}
#welcome_section p {
  font-size: 1.5rem;
  padding: 2rem;
  border: 1px solid var(--grey);
  background-color: var(--black);
  grid-row: 3/4;
  grid-column: 1/3;
  align-self: flex-end;
  text-align: center;
  z-index: 1;
}

#skills_carousel {
  grid-row: 1/4;
  grid-column: 3/4;
  background: linear-gradient(var(--white), 5%, var(--grey), 95%, var(--white));
  box-shadow: inset 0 0 1rem var(--black);
  position: relative;
  overflow: hidden;
}
#skills_carousel svg {
  position: absolute;
  height: 10%;
}

#carousel_container {
  display: flex;
  justify-content: center;
  height: 400vh;
  position: relative;
}

#carousel {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  transform-style: preserve-3d;
  transform: translateY(var(--top, 0vh)) perspective(1200px) rotateZ(var(--carouselZ, 0deg));
}
#carousel > .project_container {
  --background-color: var(--white);
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  height: 10rem;
  transform: translateX(-25%) translateY(-50%) rotateY(var(--cards-rotation, 0deg)) translateZ(35rem);
}
#carousel > .project_container:hover .buttons_container {
  filter: opacity(1);
}
#carousel > .project_container.furniture_project:hover {
  --background-color: grey;
}
#carousel > .project_container.artopia_project:hover {
  --background-color: #c299ff;
}
#carousel > .project_container.financial_project:hover {
  --background-color: rgb(53, 53, 206);
}
#carousel > .project_container.product_project:hover {
  --background-color: rgb(255, 119, 0);
}
#carousel > .project_container.form_project:hover {
  --background-color: mediumblue;
}
#carousel > .project_container.food_project:hover {
  --background-color: greenyellow;
}
#carousel > .project_container.shortener_project:hover {
  --background-color: cyan;
}
#carousel > .project_container.tictac_project:hover:has(a:nth-of-type(1):hover) {
  --background-color: red;
}
#carousel > .project_container.tictac_project:hover:has(a:nth-of-type(2):hover) {
  --background-color: blue;
}
#carousel > .project_container .buttons_container {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  filter: opacity(0);
  transition: filter 0.3s;
}
#carousel > .project_container .buttons_container:has(a:nth-of-type(1):hover) .horizontal_line {
  left: 0;
}
#carousel > .project_container .buttons_container:has(a:nth-of-type(2):hover) .horizontal_line {
  right: 0;
}
#carousel > .project_container .buttons_container .horizontal_line {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 0;
  background-color: var(--background-color);
  height: 100%;
  transition: 0.3s;
}
#carousel > .project_container .buttons_container a {
  display: grid;
  place-items: center;
  padding: 0.5rem;
  font-size: 0.75rem;
  z-index: 2;
  background: rgba(0, 0, 0, 0.159);
}
#carousel > .project_container:after {
  content: "";
  position: absolute;
  inset: 2rem 0;
  filter: blur(3rem);
  background-color: var(--background-color);
  transform: translateZ(-0.1rem);
  transition: background-color 0.3s;
}
#carousel > .project_container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(5rem at 15% 70%, rgba(0, 0, 255, 0.5), transparent), radial-gradient(8rem at 70% 20%, rgba(255, 166, 0, 0.5), transparent), var(--grey);
  transform: translateZ(-0.05rem);
}
#carousel > .project_container img {
  width: 20rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
#carousel .light_through {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: url(../public/earth.svg) var(--white);
  background-size: cover;
  cursor: pointer;
  transform: translateY(var(--light-transform, 0px)) rotateZ(var(--light-rotate, 0deg));
  animation: glowing 5s ease-out infinite;
}
#carousel .light_through.moon_mode:hover {
  background: white;
}
#carousel .light_through.moon_mode:hover::after {
  background: radial-gradient(transparent, yellow);
}
#carousel .light_through:hover {
  animation-duration: 2s;
}
#carousel .light_through::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(transparent, rgb(255, 255, 255));
  border-radius: 50%;
  z-index: 1;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 3rem rgb(255, 255, 255);
  }
  10% {
    box-shadow: 0 0 2.5rem rgb(183, 183, 183);
  }
  20% {
    box-shadow: 0 0 2rem rgb(216, 216, 216);
  }
  30% {
    box-shadow: 0 0 2.5rem rgb(183, 183, 183);
  }
  40% {
    box-shadow: 0 0 3rem rgb(232, 232, 232);
  }
  50% {
    box-shadow: 0 0 2.5rem rgb(200, 200, 200);
  }
  60% {
    box-shadow: 0 0 3rem rgb(183, 183, 183);
  }
  70% {
    box-shadow: 0 0 2.5rem rgb(224, 224, 224);
  }
  80% {
    box-shadow: 0 0 2rem rgb(183, 183, 183);
  }
  90% {
    box-shadow: 0 0 2.5rem rgb(211, 211, 211);
  }
  100% {
    box-shadow: 0 0 3rem rgb(255, 255, 255);
  }
}
#contact_form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#contact_form h1 {
  color: var(--white);
  padding: 0.5rem 3rem;
}
#contact_form form {
  display: grid;
  gap: 2rem;
  width: 60rem;
}
#contact_form form > * {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: var(--black);
  color: var(--darken-white);
  outline: none;
  border: none;
}
#contact_form form input[type=email] {
  grid-column: 2/3;
}
#contact_form form textarea {
  grid-column: 1/3;
  resize: vertical;
}
#contact_form form button {
  background-color: var(--darken-white);
  color: var(--black);
  grid-column: 1/3;
  cursor: pointer;
}
#contact_form form button:hover {
  filter: brightness(0.8);
}/*# sourceMappingURL=index.css.map */