:root {
    --black: #262626;
    --darken-white: #F2F2F2;
    --grey: grey;
    --white: white;


    width: 100vw;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    animation: changeToMoon 0.5s forwards;
    color-scheme: light dark;
    color: var(--white);
    background: radial-gradient(80vw 350vh at 50% 300vh, var(--grey), 70%, transparent),
        linear-gradient(black, 30%, transparent, 70%, black),
        url(../public/stars-back.webp) center var(--background-top-position, 0) fixed;
    background-size: cover;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    &.sun_mode {
        animation: changeToSun 0.5s forwards;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

@keyframes changeToMoon {
    0% {
        --grey: orange;
        --white: yellow;
    }

    100% {
        --grey: grey;
        --white: white;
    }
}

@keyframes changeToSun {
    0% {
        --grey: grey;
        --white: white;
    }

    100% {
        --grey: orange;
        --white: yellow;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: currentColor;
    text-decoration: none;
}

#welcome_section {
    height: clamp(25rem, 100dvh, 100rem);
    padding: 5rem;

    display: grid;
    grid-template-columns: max-content 1fr 10rem;
    grid-template-rows: min-content 1fr min-content;
    gap: 5rem;

    .hero_div {
        width: max-content;

        h1 {
            background-color: var(--white);
            color: var(--black);
            font-size: 4rem;
            padding: 1.5rem;
            line-height: 3rem;
            outline: 0.3rem solid var(--black);
            outline-offset: -1rem;

            transition: all 0.3s;

            &:hover {
                background-color: var(--black);
                color: var(--white);
                outline-offset: 2rem;
                outline-color: var(--white);
            }
        }

        h2 {
            text-align: right;
            padding-right: 1rem;
        }
    }

    p {
        font-size: 1.5rem;

        padding: 2rem;
        border: 1px solid var(--grey);
        background-color: var(--black);

        grid-row: 3 / 4;
        grid-column: 1 / 3;

        align-self: flex-end;
        text-align: center;

        z-index: 1;
    }
}

#skills_carousel {
    position: relative;

    grid-row: 1 / 4;
    grid-column: 3 / 4;

    background: linear-gradient(var(--white), 5%, var(--grey), 95%, var(--white));
    box-shadow: inset 0 0 1rem var(--black);
    overflow: hidden;

    svg {
        padding: 2rem;
        position: absolute;
        height: 10rem;
    }
}

#carousel_container {
    display: flex;
    justify-content: center;
    height: 400vh;

    position: relative;
}

#carousel {
    position: sticky;
    top: 0;

    display: flex;
    height: 100vh;
    transform-style: preserve-3d;
    transform: perspective(1200px) rotateZ(var(--carouselZ, 0deg));

    &>.project_container {
        --background-color: var(--white);
        position: absolute;
        top: 50%;
        transform-style: preserve-3d;
        transform: translateX(-25%) translateY(-50%) rotateY(var(--cards-rotation, 0deg)) translateZ(35rem);
        height: 10rem;
        width: 20rem;

        &:hover {
            .buttons_container {
                filter: opacity(1);
            }
        }

        &.furniture_project:hover {
            --background-color: grey;
        }

        &.artopia_project:hover {
            --background-color: #c299ff;
        }

        // SPACE_TOURISM SKIPPED
        &.financial_project:hover {
            --background-color: rgb(53, 53, 206);
        }

        &.product_project:hover {
            --background-color: rgb(255, 119, 0);
        }

        &.form_project:hover {
            --background-color: mediumblue;
        }

        &.food_project:hover {
            --background-color: greenyellow;
        }

        &.shortener_project:hover {
            --background-color: cyan;
        }

        &.tictac_project:hover {
            &:has(a:nth-of-type(1):hover) {
                --background-color: red;
            }

            &:has(a:nth-of-type(2):hover) {
                --background-color: blue;
            }
        }

        .buttons_container {
            position: absolute;
            inset: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            filter: opacity(0);
            color: white;
            transition: filter 0.3s;

            &:has(a:nth-of-type(1):hover) {
                .horizontal_line {
                    left: 0;
                }
            }

            &:has(a:nth-of-type(2):hover) {
                .horizontal_line {
                    right: 0;
                }
            }

            .horizontal_line {
                position: absolute;
                left: 50%;
                right: 50%;
                top: 0;
                background-color: var(--background-color);
                height: 100%;

                transition: 0.3s;
            }

            a {
                display: grid;
                place-items: center;
                padding: 0.5rem;
                font-size: 0.75rem;
                z-index: 2;
                background: rgba(0, 0, 0, 0.2)
            }
        }

        &:after {
            content: "";
            position: absolute;
            inset: 2rem 0;
            filter: blur(3rem);
            background-color: var(--background-color);
            transform: translateZ(-0.1rem);

            transition: background-color 0.3s;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: radial-gradient(5rem at 15% 70%, rgba(0, 0, 255, 0.5), transparent),
                radial-gradient(8rem at 70% 20%, rgba(255, 166, 0, 0.5), transparent),
                var(--grey);
            transform: translateZ(-0.05rem)
        }

        img {
            width: 20rem;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }
    }

    .light_through {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        cursor: pointer;

        transform: translateY(var(--light-transform, 0px)) rotateZ(var(--light-rotate, 0deg));

        animation: glowing 5s ease-out infinite;

        &.moon_mode {
            background: url(../public/earth.svg) white;
            background-size: cover;

            &:hover {
                background: yellow;
            }
        }

        &.sun_mode {
            background: yellow;

            &:hover {
                background: url(../public/earth.svg) white;
                background-size: cover;
            }
        }

        &:hover {
            animation-duration: 2s;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;

            background: radial-gradient(transparent, rgba(255, 255, 255, 1));
            border-radius: 50%;

            z-index: 1;
        }
    }
}

@keyframes glowing {
    0% {box-shadow: 0 0 3rem rgb(255, 255, 255)}
    10% {box-shadow: 0 0 2.5rem rgb(183, 183, 183)}
    20% {box-shadow: 0 0 2rem rgb(216, 216, 216)}
    30% {box-shadow: 0 0 2.5rem rgb(183, 183, 183)}
    40% {box-shadow: 0 0 3rem rgb(232, 232, 232)}
    50% {box-shadow: 0 0 2.5rem rgb(200, 200, 200)}
    60% {box-shadow: 0 0 3rem rgb(183, 183, 183)}
    70% {box-shadow: 0 0 2.5rem rgb(224, 224, 224)}
    80% {box-shadow: 0 0 2rem rgb(183, 183, 183)}
    90% {box-shadow: 0 0 2.5rem rgb(211, 211, 211)}
    100% {box-shadow: 0 0 3rem rgb(255, 255, 255)}
}

#contact_form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h1 {
        color: var(--white);
        padding: 0.5rem 3rem;
    }

    form {
        display: grid;
        gap: 2rem;
        width: clamp(15rem, 80vw, 50rem);

        &>* {
            font-size: 1.5rem;
            padding: 1rem;
            background-color: var(--black);
            color: var(--darken-white);
            outline: none;
            border: none;
        }

        input[type="email"] {
            grid-column: 2 / 3;
        }

        textarea {
            grid-column: 1 / 3;
            resize: vertical;
            min-height: 4rem;
            max-height: 40ch;
        }

        button {
            background-color: var(--darken-white);
            color: var(--black);
            grid-column: 1 / 3;
            cursor: pointer;

            &:hover {
                filter: brightness(0.8);
            }
        }
    }
}

@media (max-width: 1150px) {
    #welcome_section {
        grid-template-columns: 1fr 10rem;
        gap: 2rem;

        .hero_div {
            grid-column: 1 / 3;

            h2 {
                font-size: 1rem;
            }
        }

        p {
            font-size: 1.1rem;
        }

        #skills_carousel {
            grid-column: 2 / 3;
            grid-row: 2 / 3
        }
    }
}

@media (max-width: 900px) {
    #welcome_section {
        gap: 2rem;
        padding: 2rem;

        .hero_div {
            background-color: var(--white);
            height: fit-content;
            padding: 1rem;
            outline: 3px solid var(--black);
            outline-offset: -0.5rem;
            transition: background-color 0.3s, outline-offset 0.3s 0.3s, outline-color 0.3s 0.6s;
            &:hover {
                background-color: var(--black);
                outline-offset: 1rem;
                outline-color: var(--white);
                &>h1 {
                    color: var(--white);
                }
            }
            h1 {
                width: 100%;
                font-size: clamp(1rem, 7vw, 5rem);
                line-height: clamp(1rem, 7vw, 5rem);
                white-space: nowrap;
                overflow: hidden;
                padding: 0;
                outline: none;
                background-color: transparent;
                color: var(--black);
            }

            h2 {
                font-size: 1rem;
                color: var(--grey);
            }

            #skills_carousel {
                grid-column: 2 / 3;
                grid-row: 2 / 3
            }
        }
    }

    #carousel {
        .project_container {
            width: 15rem;
            height: 8rem;
            transform: translateX(-25%) translateY(-50%) rotateX(var(--cards-rotation, 0deg)) translateZ(15rem);

            img {
                height: 100%;
                width: 100%;
            }

            .buttons_container {
                filter: opacity(1);
                top: 80%;

                a {
                    padding: 0;
                    color: var(--black);
                    background: rgba(255, 255, 255, 0.8)
                }
            }
        }
    }
}

@media (max-width: 850px) {
    #contact_form form {
        display: flex;
        flex-direction: column;
    }

    #carousel .light_through {
        width: 6rem;
        height: 6rem;
    }

    #welcome_section {
        grid-template-columns: 1fr 7rem;
        svg {
            width: 7rem;
            height: 7rem;
            padding: 1.5rem;
        }
    }
}

@media (max-height: 700px) {
    :root {
        font-size: 12px !important;
    }

    #welcome_section {
        padding: 2rem !important;

        .hero_div {
            grid-column: 1 / 2 !important;
        }

        p {
            grid-column: 1 / 2 !important;
        }

        #skills_carousel {
            grid-row: 1 / 4 !important;
        }
    }
}